body {
  padding-top: 0;
}
.navbar {
  border-bottom: 1px solid #ff9900;
  background-color: #fff;
  margin-bottom: 0;
  min-height: 90px;
}
.navbar-brand {
  background: url('../img/logo.png') no-repeat;
  width: 250px;
  height: 70px;
  margin-top: 10px;
}
h1 {
  margin-top: 0;
}
.top-tag {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
}
.content-inner {
  max-width: 1170px;
  margin: 0 auto;
}
#topic-header {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-bottom: 8px solid #ddd;
}
#topic-header h1 {
  margin-top: 0;
}
#topic-header footer h3 {
  text-transform: uppercase;
  font-size: 15px;
  clear: both;
}
#topic-header .host img {
  float: left;
  margin-right: 10px;
}
#topic-header .host p {
  padding-top: 3px;
}
#topic-header .contributors img {
  float: left;
  margin: 3px;
}
#topic-header .contributors img:hover {
  opacity: 0.8;
}

#filter {
  text-align: right;
  max-width:1170px;
  margin: 0 auto 10px;
}
#filter ul li {
  display: inline;	
  padding: 0 10px;
}
#filter ul li.label {
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
#filter ul li a {
  color: #999;
}
#filter ul li a.active {
  color: #ff9900;
}

#emailMeLabel {
  font-weight: bold;
}

article,
article.content-inner  {
  border: 1px solid #eee;
  margin-bottom: 20px;
}
article.img,
article.video {
  margin-bottom: 0;
}
article img {
  float: left;
  margin-right: 10px;
}
article header {
  clear: both;
  background-color: #ededed;
  padding: 10px 20px 5px;
}
article header p.contributor {
  color: #999;
  margin-bottom: 16px;
  padding-top: 2px;
}
article header p.contributor .role {
  text-transform: uppercase;
  font-weight: 800;
  color: #ff9900;
}
article header p.contributor .role.contributor {
  color: #1ac6ff;
}
article.content-inner .content {
  clear: both;
  padding: 20px;
  overflow: hidden;
}
article.content-inner .content img {
  margin-right: 20px;
}
article.content-inner p.quote {
  font-size: 21px;
  font-style: italic;
  color: #666;
}
blockquote {
  border-left: none;
}
.source {
  text-align: right;
  color: #999;
  font-style: italic;
}
.twitter-follow-button {
  display: inline-block;
  position: relative !important;
  top: 8px;
  margin-left: 10px;
}